<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WeAnimal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- bootstrap, js-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
    <!-- fontawesome -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
        integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>


    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <!-- animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    
    <link rel="icon" href="images/pupper.jpeg" type="image/x-icon" />

    <!-- Load c3.css-->
    <link href="/c3-0.7.0/c3.css" rel="stylesheet">
     <!-- Load d3.js and c3.js -->
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="/c3-0.7.0/c3.min.js"></script> 

    <script>
        UPLOADCARE_PUBLIC_KEY = 'b6067fa83523fd44a3fd';
        UPLOADCARE_TABS = 'file url';
        UPLOADCARE_EFFECTS = 'crop,rotate';
        UPLOADCARE_IMAGE_SHRINK = '512x512 50%';
        UPLOADCARE_IMAGES_ONLY = true;
        UPLOADCARE_PREVIEW_STEP = true;
    </script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.js"></script>
    <script>
        uploadcare.registerTab('preview', uploadcareTabEffects)
    </script>
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-storage.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAxlyzi5yw58eBFROgZd0fQJKMY19WDUO0",
            authDomain: "editted-ucsd.firebaseapp.com",
            databaseURL: "https://editted-ucsd.firebaseio.com",
            projectId: "editted-ucsd",
            storageBucket: "editted-ucsd.appspot.com",
            messagingSenderId: "315506940109",
            appId: "1:315506940109:web:70bb04e9f6024d7e"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>


</head>
<body>

    <!-- STICKY NAV BAR  -->
    <nav class="navbar fixed-top navbar-light navbar-expand-lg">
        <!-- logo -->
        <a class="navbar-brand" href="/">
            <h2>WeAnimal <i class="fas fa-paw"></i></h2>
        </a>
    
        <!-- responsive toggle icon -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- navbar selections -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Upload Photo</a></li>
                <li class="nav-item"><a class="nav-link" href="../breed">Breed Info</a></li>
                <li class="nav-item"><a class="nav-link" href="../contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>