<% include ./includes/header %>



<!-- rest of page -->
<div class="container center">

	<!-- header question -->
	<!-- <h3 class="text-left">BROWSE BY SPECIES<span> &#128062</span></h3><br><br> -->

	<h5 class="animated infinite pulse"> Select a species icon below to learn about the different breeds.</h5><br>

	<a href="breed/dog"><img src="images/dog.svg" class="icon" alt="dog icon" class="btn btn-outline-secondary"></a>
	<a href="breed/dog"><img src="images/cat.svg" class="icon" alt="cat icon" class="btn btn-outline-secondary"></a>

	<div style="padding-top:100px">Icons made by 
			<a href="https://www.freepik.com/" title="Freepik">Freepik</a> from 
			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
			<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

	
</div>


<% include ./includes/footer %>

