<% include ./includes/header %>

<!-- rest of page -->
<div class="center">

	<!-- header question -->
	<h1> Contact Us page coming soon! Check back later <span>&#128062</span></h1><br>


</div>
<% include ./includes/footer %>