<% include ./includes/header %>


<!-- page content -->
<div class="container">


	<!-- Scroll Section #1 -- CHOOSE ANIMAL TO IDENTIFY -->
	<div id="step1">

		<!-- section title -->
		<h1 class="text-left">Step 1<span> &#128062</span></h1><br>
		<h3 class="float-left animated pulse"> What animal are you trying to identify? </h3><br>

		<!-- input field, prefilled with database animals -->
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text border border-right-0">
					<!-- search icon -->
					<i class="text-primary fas fa-search"></i>
				</span>
			</div>
			<!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username"
				aria-describedby="basic-addon1"> -->
			<input type="text" list="animalList" value="" id="animal_input"
				class="form-control text-left rounded-right pl-3 border-left-0" aria-describedby="basic-addon1"
				placeholder="search an animal ... " onkeyup="findAnimal()">
		</div>

		<!-- autofill animal species selector buttons -->
		<div id="animalSelector">
			<ul id="myUL">
				<% animals.forEach( type => { %>
				<li class="scroll"><%=type%></li>
				<% }); %>
			</ul>
		</div>

	</div>


	<!-- Scroll Section #2 -- UPLOAD PHOTO -->

	<div class="center init-hide" id="step2">

		<!-- section title -->
		<h1 class="text-left">Step 2<span> &#128062</span></h1><br>
		<h3 class="animated pulse"> Upload a photo of your <b> <span class="currAnimal"></span></b>! </h3><br>

		<!-- default photo is 'add photo' icon -->
		<img id="upload_image" src="../images/add_icon.jpg" onclick="simulateUpload()"><br><br>
		
		<!-- upload buttons -->
		<div id="upload_buttons">
			<p class="uploader-light-blue-button">
				<input id="upload_input" type="hidden" role="uploadcare-uploader" data-image-shrink="512x512 50%"
					data-crop="free" />
			</p>

			<!-- submit button -->
			<button type="submit" class="btn btn-lg init-hide" style="display:inline" id="view_results"
				onclick="fetchResults()">View Results!</button>
		</div>

		<!-- upload animation (currently text) -->
		<h2 class="load-text init-hide" id="process_text">Scanning....<h2>
		<h2 class="load-text init-hide" id="loaded_text">Loaded!<h2>
	</div>



	<!-- templates -->
	<div id="table_tmpl" class="init-hide">
			<table class="table" style="display:inline">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Category</th>
						<th scope="col">Details</th>
					</tr>
				</thead>
				<tbody class="table_append">
				</tbody>
			</table>
	</div>




	
	<!-- Scroll Section #3 -- EXPLORE RESULTS --> 
	
	<div class="center init-hide" id="step3">

		<!-- section title -->
		<h1 class="text-left">Step 3<span> &#128062</span></h1><br>
		<div id="breed_results" style="display:contents">
			<h2 style="color:black">Your <span class="currAnimal"></span> is the following breed(s):</h2>
			<div id="breed_chart"></div>
			<hr>
			<table class="table init-hide" id="breed_details" style="display:inline">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Category</th>
							<th scope="col">Details</th>
						</tr>
					</thead>
					<tbody id="breed_list">
					</tbody>
			</table>
			<div id="breed_tables" class="init-hide"></div>
		</div>


		<button type="button" class="btn btn-lg" id="expand_details" style="display:inline"
			onclick="showBreedDetails()">Click to learn more!</button>

		<br><br>

		<button type="submit" class="btn btn-lg scroll">Upload again</button>
	</div>




</div>




<script>

	var currAnimal = "dog";

	$(document).ready(() => {

		// auto selects animal_input on load
		$("#animal_input").select();

		// animal button selectors under input box
		let animal_list = $("#animalSelector #myUL li");
		animal_list.click(element => {
			$("#step2").show();
			let value = element.currentTarget.innerHTML.toLowerCase(); //species name clicked
			// animal_list.attr('href', '#step2'); //click to slow scroll to step2
			// animal_list.attr('class', 'scroll'); //for slow scroll
			$(".currAnimal").html(value); //fill in all span elements for species
			currAnimal = value; //set global var
		});

		//slow scroll step1 to step2
		$('#step1 .scroll').click(() => {
			$('html, body').animate({
				scrollTop: $('#step2').offset().top
			}, 'slow');
		});

		//slow scroll step 3 to top
		$('#step3 .scroll').click(() => {
			setTimeout(() => {
				clearAll();
			}, 800);
			$('html, body').animate({ scrollTop: 0 }, 'slow');
		});


	});

	function findAnimal() {
		var input, filter, ul, li, a, i, txtValue;
		input = document.getElementById("animal_input");
		filter = input.value.toUpperCase();
		ul = document.getElementById("myUL");
		li = ul.getElementsByTagName("li");
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByTagName("a")[0];
			txtValue = a.textContent || a.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
	}

</script>




<script>

	//bind event listeners on dom ready 
	$(document).ready(function () {

		$('.init-hide').hide();

		// does not change preview when you cancel out of choosing a photo
		$('#upload_input').on('click touchstart', function () {
			$(this).val('');
		});

		// when a new photo is uploaded, change preview
		const widget = uploadcare.Widget('[role=uploadcare-uploader]');
		widget.onUploadComplete((info) => {
			$('#upload_image').attr('src', info.cdnUrl);
			$('#view_results').show();
		})
	});

	//restart upload process, clear all
	function clearAll() {
		//can either clear all inputs to reset to new 
		$('.init-hide').hide();
		// $('#upload_image').val("");
		//or just reload 
		location.reload();
	}

	//simulate upload through file input button by clicking default upload img
	function simulateUpload() {
		//TODO: find where this button is so i can click it
		$('button.uploadcare--widget__button uploadcare--widget__button_type_open').trigger('click');
	}

	//show table of specific breed details
	function showBreedDetails() {
		//show table of breed details
		$('#breed_details').show();
		//hide click to learn more button
		$('#expand_details').hide();
	}

	
	//"loads" information, ajax call to fetch breed results
	function fetchResults() {

		//hide buttons, show loading animation
		$('#upload_buttons').hide();
		$('#process_text').show();


		//TODO: store file on firebase, get url back
		
		
		//this is temp url from manual input
		// const pic_url = $('#temp_url').val();
		// const pic_url = 'https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/13002253/GettyImages-521536928-_1_.jpg';
		// {key: breed, val: %}
		// const breed_breakdown = {};
		// [['breed','#'],...] format for pie chart
		// const chart_val = [];


		const imageUrl = $('#upload_input').attr('value');


		//ajax call, send dog photo URL through GET request to get breakdown of breed-percentages
		$.get( '/mlapi', {imageUrl: imageUrl} )
		.always( ()=>{
			console.log("Done sending URL and requesting ML results.");
		})
		.fail(function(xhr, status, error){
			//reset buttons
			$('#upload_buttons').show();
			$('#process_text').hide();
			alert("Error uploading photo to server, please try again.");
			console.log("AJAX Request Error: " + JSON.stringify(xhr));
		})
		.done(function(data) {
			// Parse result of ML for chart visualization
			let breedPercents = [];
				data.forEach(breedStat => {
					let info = breedStat.split('%\t');
					let percent = parseFloat(info[0]);

					// Capitalize first letter of each word
					let breedName = info[1].toLowerCase().replace(/ /g,"").replace(/_/g," ").replace("bullterrier", "bull terrier");
					breedName = breed_name.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
					// let breed = info[1].split('_').map(s => s.charAt(0).toUpperCase() + s.slice(1)).join(' ');
					breedPercents.push([breedName, percent]);
				});
			console.log("Done 1: ML results parsed");
		})
		// .done(function(data) {
		// 	console.log("Check results: ");
		// 	Object.keys(breed_breakdown).forEach(elem=>{
		// 		console.log(elem, breed_breakdown[elem]);
		// 	});
		// })
		.done(function(data) {
			//generate chart to visualize breeds
			c3.generate({
				bindto: '#breed_chart',
				data: {
					// iris data from R
					columns: breedPercents,
					type: 'pie',
					onclick: function (breed, percent) {
						console.log(breed);
						readBreedInfo(breed.name);
					}
				}
			});
			console.log("Done 2: Chart generated");
		})
		.done(function(data) {
			//for each identified breed, fetch breed details from db
			console.log( "success 2" );
			Object.keys(breed_breakdown).forEach( (b)=>{ 
				//dynamically adds tables, helper function below
				fetchBreedDetails(b); 
			});
			console.log("Done 3: Tables created");
		})
		.done( ()=>{
			//finished data fetching; change loading animation and display results
			$('#process_text').hide(); //loading text
			$('#loaded_text').show();
			$('#step3').show();	//displays step3 hidden section
			
			//slow scroll from step2 to step3 after data fetch is complete
			setTimeout( ()=>{
				$('html, body').animate({
					scrollTop: $( '#step3' ).offset().top
				}, 'slow');
			},500);
			
			console.log("Done 4: Data loaded; show step 3");
		});
		

		//TODO: deal with error when breed is not in database

		//helper function to fetch details from db per breed
		function fetchBreedDetails(breedName){

			//ajax call to fetch details from db
			$.ajax({
				url: '/fetch',
				type: 'GET',
				data: { species: currAnimal, breed: breedName},
				dataType: 'json',
				beforeSend: ()=>{
					console.log("Breed requested is: ", breedName);
				},
				success: function (data) {
					console.log(breedName, " exists in DogAPI db");
					
					//grabs response data as json
					const info_json = data;
					const info_keys = Object.keys(info_json);

					//add new table for current breed
					$('#breed_tables').append( $('#table_tmpl').html() );

					//appends details dynamically
					info_keys.forEach(prop => {
						if (prop != 'temperament') {
							$('.table_append:last').append('<tr><td>' + prop + "</td><td>" + info_json[prop] + '</td></tr>');
						} else {
							let list = '';
							info_json[prop].split(',').forEach(element => {
								list += `<li>${element}</li>`;
							});
							$('.table_append:last').append(`<tr><td>${prop}</td><td>${list}</td></tr>`);
						}
					});
					
					//TODO: move table_tmpl down and append to nth last child(2)
				},
				error: function (request, error) {
					console.log("AJAX Request Error: " + JSON.stringify(request));
				}
			});

		}//end of fetchBreedDetails helper function


	function readBreedInfo(breed) {
		$.ajax({
			url: '/fetch',
			type: 'GET',
			data: { breed: breed },
			dataType: 'json',
			success: function (data) {
				$('#breed_list').empty();
				// No information in DB on the given dog breed
				if (!data) {
					$('#breed_list').append('<p>No information available on this breed</p>');
					$('#breed_results').show();
					return;
				}
				
				// Json object with facts on a dog breed
				const info_json = data;
				const info_keys = Object.keys(info_json);

				// Add breed information to DOM
				info_keys.forEach(prop => {
					if (prop != 'temperament') {
						$('#breed_list').append('<tr><td>' + prop + "</td><td>" + info_json[prop] + '</td></tr>');
					} else {
						let list = '';
						info_json[prop].split(',').forEach(element => {
							list += `<li>${element}</li>`;
						});
						$('#breed_list').append(`<tr><td>${prop}</td><td>${list}</td></tr>`);
					}
				});
				$('#breed_results').show();

			},
			error: function (request, error) {
				console.log("AJAX Request Error: " + JSON.stringify(request));
			}
		});
	}







	} //end of fetchResults 





</script>


<% include ./includes/footer %>