<% include ./includes/header %>



<!-- rest of page -->
<div class="container">

	<!-- header question -->
	<h1 class="text-left">Step 1<span> &#128062</span></h1><br>
	<h3 class="center animated infinite pulse"> What animal are you trying to identify? </h3><br>

	<!-- input field, prefilled with database animals -->
	<input type="text" list="animalList" value="" id="animal_input" class="rounded w-100">
	<div id="animalSelector">
		
	</div>
	<!-- <datalist id="animalList">
		<select name="animalList" id="">
		<% for (var i = 0; i < animals.length; i++) { %>
		 <option value="<%= animals[i] %>">
		<% } %>
		</select>
	</datalist> -->
	<br><br>

	<!-- submit form button, used get so it would show in url -->
	<form action="" method="get" onsubmit="return checkAnimal()" id="animal_form">
		<!-- <input type="hidden" name="animal" value="" id="animal_submit"> -->
		<button type="submit" class="btn btn-lg float-right">Continue</button>
	</form>

</div>

<script>
	function checkAnimal(){
		//gets user input
		const userInput = $("#animal_input").val().trim().toUpperCase();

		// array of all current animals in our database
		const total_animals = <%- JSON.stringify(animals) %>.map(a => a.toUpperCase());

		//if user input is valid animal, continue. otherwise, alert and stay on page
		if ( ($.inArray(userInput, total_animals) == -1 )){
			// user input isn't in valid animal choices
			alert("Your input is not an animal our system can currently identify. Feel free to send us feedback or try again with another animal.")
			return false;
		}
		$("#animal_submit").val(userInput);
		$("#animal_form").attr('action', 'upload/'+userInput);
		return true;
	}
</script>

<% include ./includes/footer %>
