<% include ./includes/header %>


<!-- page content -->
<div class="container">


	<!-- Scroll Section #0 -- CHOOSE TO IDENTIFY ANIMAL OR LOOK AT BREED -->
	<div id="step0" class="mb-5">
	
		<!-- section title -->
		<h3> Choose what you want to do ...</h3>
	
		<div id="chooseAction" class='row'>

			<!-- Left button: look up info on breeds (FUNCTION 1) -->
			<div class="col-6">
					<span id="lookUpInfo" class="border border-info rounded text-center d-block p-5 h2 text-info font-weight-bold">Look up info on breeds <i class="text-dark ml-2 fas fa-search"></i></span>
				</div>
			<!-- Right button: identify dog breeds (FUNCTION 2) -->
			<div class="col-6">
				<span id="identifyAnimal"
					class="border border-info rounded text-center d-block p-5 h2 text-info font-weight-bold">Identify dog breed <i
						class="fas fa-microscope text-dark ml-2"></i></span>
			</div>
			
		</div>
	
	</div>


	<!-- FUNCTION 1: DOG BREED LOOKUP -->
	<% include ./breed_list %>



	<!-- FUNCTION 2: DOG BREED IDENTIIFIER -->


	<!-- Scroll Section #1 -- UPLOAD PHOTO -->
	<div class="center init-hide" id="step1">

		<!-- section title -->
		<h1 class="text-left">Step 1<span> &#128062</span></h1><br>
		<h3 class="animated pulse"> Upload a photo of your <b>dog</b>! </h3><br>

		<!-- default photo is 'add photo' icon -->
		<img id="upload_image" src="../images/add_icon.jpg"><br><br>
		
		<!-- upload buttons -->
		<div id="upload_buttons">
			<p class="uploader-light-blue-button">
				<input id="upload_input" type="hidden" role="uploadcare-uploader" data-image-shrink="512x512 50%"
					data-crop="free" />
			</p>

			<!-- submit button -->
			<button type="submit" class="btn btn-lg init-hide" style="display:inline" id="view_results"
				onclick="fetchResults()">View Results!</button>
		</div>

		<!-- upload animation (currently text) -->
		<h2 class="load-text init-hide" id="process_text">Scanning....<h2>
		<h2 class="load-text init-hide" id="loaded_text">COMPLETE<h2>
		<br>
	</div>


	<!-- Scroll Section #2 -- EXPLORE RESULTS --> 
	<div class="center init-hide" id="step2">

		<!-- section title -->
		<h1 class="text-left">Step 2<span> &#128062</span></h1><br>

		<!-- contains all results: uses pie chart and cards -->
		<div id="breed_results" style="display:contents">
			<h2 style="color:black">Your dog is the following breed(s):</h2>

			<!-- c3 pie chart attached here -->
			<div id="breed_chart"></div><hr>

			<!-- error message for missing flip card (no breed in db) -->
			<div id="card_error" class="init-hide" style="color:gray">
				We currently do not have breed information for the breed you selected.<br>
			</div>

			<!-- flip cards added dynamically here -->
			<div id="breed_tables" class="init-hide row"></div>
		</div>

		<!-- shows flip cards when clicked -->
		<button type="button" class="btn btn-lg" id="expand_details" style="display:inline">Click to learn more!</button>

		<br><br>
		
		<!-- scroll up to top button -->
		<button type="submit" class="btn btn-lg scroll">Upload again</button>
	</div>

	
</div>

<!-- templates -->
<% include ./includes/card %>

<!-- main script and closing tags  -->
<% include ./includes/footer %>