<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap, js-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- fonts -->

	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	
	<style>
		:root {
  			--muted-blue: #9BC4E2; 
		}
		.fas{
			color: white;
		}
		body { 
			padding-top: 150px; 
		}
		.navbar, .navbar-brand{
			background-color: var(--muted-blue);
			color: white;
		}
		.center{
			text-align:center;
		}
		input{
			font-size:200%;
			width: 25em;
			text-align: center;
		}
		input:focus{
			color: gray;
		}
		.btn{
			background-color: var(--muted-blue);
			font-weight: bold;
		}
		.nav-link:hover{
			font-weight: bold;
		}
	</style>


</head>
<body>


<!-- STICKY NAV BAR  -->
<nav class="navbar fixed-top navbar-light navbar-expand-lg">
	<!-- logo -->
	<a class="navbar-brand" href="#"><h2>WeAnimal <i class="fas fa-paw"></i></h2></a>

	<!-- responsive toggle icon -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- navbar selections -->
	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav">
	      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
	      <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
	    </ul>
    </div>
</nav>


<!-- rest of page -->
<div class="center">

	<!-- header question -->
	<h1> What animal are you trying to identify? <span>&#128062</span></h1><br>

	<!-- input field, prefilled with database animals -->
	<input type="text" list="languages" value="" id="animal_input">
	<datalist id="languages">
		<% for (var i = 0; i < animals.length; i++) { %>
		 <option value="<%= animals[i] %>">
		<% } %>
	</datalist>
	<br><br>

	<!-- submit form button, used get so it would show in url -->
	<form action="" method="get" onsubmit="return checkAnimal()" id="animal_form">
		<!-- <input type="hidden" name="animal" value="" id="animal_submit"> -->
		<button type="submit" class="btn btn-lg">Continue</button>
	</form>

</div>

<script>

	function checkAnimal(){

		//gets user input
		const userInput = $("#animal_input").val().trim().toUpperCase();

		// array of all current animals in our database
		const total_animals = <%- JSON.stringify(animals) %>.map(a => a.toUpperCase());

		//if user input is valid animal, continue. otherwise, alert and stay on page
		if ( ($.inArray(userInput, total_animals) == -1 )){
			// user input isn't in valid animal choices
			alert("Your input is not an animal our system can currently identify. Feel free to send us feedback or try again with another animal.")
			return false;
		}
		$("#animal_submit").val(userInput);
		$("#animal_form").attr('action', 'search/'+userInput);
		return true;
	}

</script>

</body>
</html>

