<% include ./includes/header %>

	<!-- rest of page -->
	<div class="center" style="padding-bottom: 100px">

		<!-- header question -->
		<h1> What breed is this <b><%= currentAnimal %></b>? <span>&#128062</span></h1><br>

		<!-- default photo is 'add photo' icon -->
		<img id="upload_image" src="../images/add_icon.jpg" width="500px" style="border:black solid 1px"><br><br>


		<div id="upload_buttons">
			<!-- input field that strictly accepts images -->
			<span class="btn btn-default btn-file btn-lg">
				Browse...<input type="file" accept="image/*" id="upload_input">
			</span>

			<!-- submit button -->
			<button type="submit" class="btn btn-lg" style="display:none" id="view_results"
				onclick="loadAnimation()">View Results!</button>
		</div>

		<div id="upload_animation" style="display:none">
			<h2 style="color:green" id="loading_text">Scanning....<h2>
		</div>


		<div id="breed_results" style="display:none">
			<h2 style="color:black">Your <%= currentAnimal.toLowerCase() %> is the following breed(s):<h2>
			<div id="breed_chart"></div>
			<hr>
			<table class="table" id="breed_details" style="display:none">
				<thead class="thead-dark">
				    <tr>
				      <th scope="col">Category</th>
				      <th scope="col">Details</th>
				    </tr>
			  	</thead>
			  	<tbody id="breed_list">
			  	</tbody>
			</table>
		</div>


		<button type="button" class="btn btn-lg" id="expand_details" style="display:none" onclick="showBreedDetails()">Click to learn more!</button>

		<br><br>
		

		<!-- submit form button, used get so it would show in url -->
		<form action="/" method="get" id="home_form" style="display:none">
			<button type="submit" class="btn btn-lg">Back to home page</button>
		</form>

	</div>




	<script>

		//bind event listeners on dom ready 
		$(document).ready(function () {

			// does not change preview when you cancel out of choosing a photo
			$('#upload_input').on('click touchstart', function () {
				$(this).val('');
			});

			// when a new photo is uploaded, change preview
			$('#upload_input').on('change', function (e) {

				if (this.files && this.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#upload_image').attr('src', e.target.result);
					}

					reader.readAsDataURL(this.files[0]);
				}

				//show submit button now that there's file attached
				$('#view_results').css('display', 'inline');
			});

		});

		//show table
		function showBreedDetails(){
			//show table of breed details
			$('#breed_details').css('display', 'inline');
			//hide click to learn more button
			$('#expand_details').css('display', 'none');
		}

		//"loads" information, ajax call to fetch breed results
		function loadAnimation() {

			//hide buttons, show loading animation
			$('#upload_buttons').css('display', 'none');
			$('#upload_animation').css('display', 'block');

			//set timeout temporarily so you can see the "loading" above
			setTimeout(() => {

				const fakeBreed = 'Golden Retriever'

				//ajax call to fetch details from db
				$.ajax({
					url: '/fetch',
					type: 'GET',
					data: { type: '<%= currentAnimal %>', breed: fakeBreed },
					dataType: 'json',
					success: function (data) {
						//grabs response data as json  
						// const breed_json = JSON.parse(data);
						const info_json = data;
						const info_keys = Object.keys(info_json);

						//finished 'loading' to the users eye, displays breeds
						$('#loading_text').html("Loaded!");
						$('#breed_results').css('display', 'contents');
						$('#expand_details').css('display', 'inline');
						

						//appends breeds dynamically
						info_keys.forEach(prop => {
							if (prop != 'temperament') {
								$('#breed_list').append('<tr><td>' + prop + "</td><td>" + info_json[prop] + '</td></tr>');
							} else {
								let list = '';
								info_json[prop].split(',').forEach(element => {
									list += `<li>${element}</li>`;
								});
								$('#breed_list').append(`<tr><td>${prop}</td><td>${list}</td></tr>`);
							}
						});

						$('#home_form').css('display', 'block');
					},
					error: function (request, error) {
						console.log("Request: " + JSON.stringify(request));
					}
				});

			}, 1500);
		}


		//chart to visualize breeds
		c3.generate({
			bindto: '#breed_chart',
		    data: {
		        // iris data from R
		        columns: [
		            ['Labrador Retriever', 10],
		            ['Golden Retriever', 90],
		        ],
		        type : 'pie'
		    }
		});

			

	</script>

</body>

</html>