:root { --muted-blue: #9BC4E2; }

.fas{ color: white; }
body { 
	padding-top: 150px; 
	background-color: #efeef1;
}
.navbar, .navbar-brand{
	background-color: var(--muted-blue);
	color: white;
}
#navbarNav {
	font-weight: bold;
	margin-left: 50px;
}
.nav-link {
	padding-right: 10px;
}
.center { text-align:center; }
input{
	font-size:200%;
	width: 25em;
	text-align: center;
}
input:focus{
	color: gray;
}
.btn{
	background-color: var(--muted-blue);
	font-weight: bold;
}
.nav-link{
	color: rgba(0,0,0, 0.8) !important; 

}
.nav-link:hover{
	font-weight: bold;
	color: purple;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	/*outline: none;*/
	cursor: grab;
	/*display: inline;*/
}

/*hides file name that pops up for image input*/
input[type=file] {
	color: rgba(0, 0, 0, 0) !important;
}

/*changes bullet points to custom emoji bullets*/
ul {
	list-style: none;
}

/* upload photo - breed_details_table style */
table tr td li{
	list-style: none;
}


flip-card{
	text-align: left;
}


/* index.ejs */
input#animal_input.rounded-right {
	border: 2px solid var(--muted-blue);
}

datalist#animalList {
	background-color: pink;	
	width: 100%; 
}

input#animal_input:focus {
	outline: none; 
}

input#animal_input.form-control:focus {
	box-shadow: none;
}

.input-group .input-group-text {
	/* background-color: var(--muted-blue); */
	border: 2px solid var(--muted-blue) !important;
	background-color: white;
} 


#myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex; 
	justify-content: stretch;
	flex-wrap: wrap; 
	padding: 20px;
	/* border: 1px solid #f1f1f1; */
	/* border-radius: 5px; */
}

#myUL li{
	border: 1px solid #ddd;
	margin-top: -1px;
	padding: 5px 15px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
	border-radius: 5px; 
	margin-right: 1rem;
	margin-bottom: 1rem;
	border: 2px solid var(--muted-blue);
	
}

#myUL li:hover:not(.header) {
	/* background-color: #eee; */
	background-color: var(--muted-blue);
	cursor: grab;
}

.icon {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.btn-outline-secondary {
	background-color: transparent; 
	border: none;
}
.btn-outline-secondary:hover {
	background-color: var(--muted-blue);
}



#step1, #step2{
	/* padding-top: 100px;  */
	padding-bottom: 100px;
	margin-top: 10px;
}


/* default upload icon */
#upload_image{
	width: 50%;
	max-width: 325px;
	border: black solid 1px;
	cursor: grab;
}

.load-text{
	color:green;
}

.uploader-light-blue-button .uploadcare--widget__button_type_open {
	background-color: #9BC4E2;
	font: 400 24x Arial;
	font-weight: bolder;
    line-height: 1.5;
    color: #212529;
	text-align: left;
	padding: 8px 16px;
}

.uploader-light-blue-button .uploadcare--widget__button_type_open:hover {
	background-color: #9BC4E2;
}

#card_error {
	display: block;
	padding: 100px 0px;
}

#chooseAction span:hover {
	cursor: pointer; 
	background-color: var(--muted-blue);
	color: white !important; 
}

#breed_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.dog_card {
	flex: 1 0 auto;
	padding: 10px 30px; 
	width: 400px;
	text-align: center;
}

.dog_card img {
	width:  400px;
	height: 300px;
	object-fit: cover;
}

#breed_tables .col-4 {
	padding-right: 0px;
} 
