:root { --muted-blue: #9BC4E2; }

.fas{ color: white; }
body { padding-top: 150px; }
.navbar, .navbar-brand{
	background-color: var(--muted-blue);
	color: white;
}
.center { text-align:center; }
input{
	font-size:200%;
	width: 25em;
	text-align: center;
}
input:focus{
	color: gray;
}
.btn{
	background-color: var(--muted-blue);
	font-weight: bold;
}
.nav-link:hover{
	font-weight: bold;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	/*outline: none;*/
	cursor: grab;
	/*display: inline;*/
}

/*hides file name that pops up for image input*/
input[type=file] {
	color: rgba(0, 0, 0, 0) !important;
}

/*changes bullet points to custom emoji bullets*/
ul {
	list-style: none;
}

/* upload photo - breed_details_table style */
#breed_details tr{
	align-items: flex-start;
	text-align: left;
	padding: 0 50px 125px;
	size: small;
}
#breed_list tr td:last-child {
	font-weight: normal;
	padding-left: 50px;
}
td li{
	list-style: none;
}


/* index.ejs */
input#animal_input.rounded-right {
	border: 2px solid var(--muted-blue);
}

datalist#animalList {
	background-color: pink;	
	width: 100%; 
}

input#animal_input:focus {
	outline: none; 
}

input#animal_input.form-control:focus {
	box-shadow: none;
}

.input-group .input-group-text {
	/* background-color: var(--muted-blue); */
	border: 2px solid var(--muted-blue) !important;
	background-color: white;
} 


#myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex; 
	justify-content: stretch;
	flex-wrap: wrap; 
	padding: 20px;
	/* border: 1px solid #f1f1f1; */
	/* border-radius: 5px; */
}

#myUL li{
	border: 1px solid #ddd;
	margin-top: -1px;
	padding: 5px 15px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
	border-radius: 5px; 
	margin-right: 1rem;
	margin-bottom: 1rem;
	border: 2px solid var(--muted-blue);
	
}

#myUL li:hover:not(.header) {
	/* background-color: #eee; */
	background-color: var(--muted-blue);
	cursor: grab;
}

.icon {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.btn-outline-secondary {
	background-color: transparent; 
	border: none;
}
.btn-outline-secondary:hover {
	background-color: var(--muted-blue);
}




#step2, #step3{
	padding-top: 100px; 
	margin-top: 10px;
}


/* default upload icon */
#upload_image{
	width: 20%;
	border: black solid 1px;
	cursor: grab;
}

.load-text{
	color:green;
}

.uploader-light-blue-button .uploadcare--widget__button_type_open {
	background-color: #9BC4E2;
	font: 400 24x Arial;
	font-weight: bolder;
    line-height: 1.5;
    color: #212529;
	text-align: left;
	padding: 8px 16px;
}

.uploader-light-blue-button .uploadcare--widget__button_type_open:hover {
	background-color: #9BC4E2;
}